:root {
  --bs-font-sans-serif: "Rubik", sans-serif;
  --color-primary: #fe696a;
  --color-primary-rgb: rgb(254, 105, 106);
  --color-primary-box-shadow: 0 0.125rem 0.25rem rgba(254, 105, 106, 0.1);
  --color-primary: #ffb4b5;
  --color-primary-rgb: rgb(255, 180, 181);
  --color-primary-box-shadow: 0 0.125rem 0.25rem rgba(255, 180, 181, 0.25);
}

* {
  transition: all 0.25s linear;
}
